<% provide(:title, "Home") %>

<div class="row" id="welcome_body_row">
	<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 "> <p class="circle" id="new"> <%= link_to "New Article", new_path, id:"links" %> </p> </div>
	<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 "> <p class="circle" id="all"> <%= link_to "Show All articles", "#", id:"links" %></p> </div>
</div>


</div>
